# System Configuration
SERVER_IP=192.168.1.100

# NextAuth Configuration
AUTH_SECRET=changeme_in_production
AUTH_TRUST_HOST=true

# HIS Integration (Phase 7.5)
HIS_ENCRYPTION_KEY=changeme_his_encryption_key_32_chars!!!

# PACS Core Configuration
POSTGRES_USER=orthanc
POSTGRES_PASSWORD=orthanc_password
POSTGRES_DB=orthanc_db

# Next.js Prisma DB URL
DATABASE_URL="postgresql://orthanc:orthanc_password@db:5432/orthanc_db?schema=dashboard"

# Admin Seed Profile
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin@123

ORTHANC_ADMIN_USER=admin
ORTHANC_ADMIN_PASSWORD=admin_password

# Ports (Optional overrides)
ORTHANC_PORT=8042
DICOM_PORT=4242
WORKER_SECRET=
